<div class = "container">
	<% @states.each do |state| %>
	
	<div class= "col-md-2">
	<hr>
		<h5><%= s %></h5>
		<% cities = state.cities%>
		<% cities.each do |c|%>
		<h6><%= link_to "\t #{c.name}", city_path(c.id) %></h6>
		<% end %>
		</div>
	
	<% end %>
</div>
