
.navbar {
	width: 100%;
	border-radius: 0px;
	height: 20px;
	color:blue;
	background-color: #F0F0F0;

}

.navbar a {
	color:blue;

	&:hover, &:visited {
    color: blue;
  } 
}


body a {
	color: blue;
	font-family: arial;
}

body a:visited {
	color: purple;
}

body a:hover {
	color: purple;
}

span.glyphicon {
    font-size: 1.7em;
   /* color: purple;*/
}

.appname{
	font-family: times;
	font-size: 350%;
	color:blue;
}
 

.cityname{
	font-family: times;
	font-size: 250%;
	color:blue;
}

#categories {
	font-size: 120%;
	text-align: left;
}

body {
	background-color: #F2F2F2;
	font-family: arial;
}
